/* Provide sufficient contrast against white background */


@font-face {
    font-family: Unbuttoned;
    src: url("./unbutton.ttf");
}


@font-face {
    font-family: Roboto-Thin;
    src: url("./Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Condensed;
    src: url("./Roboto-Condensed.ttf");
}


@font-face {
    font-family: Roboto-Light;
    src: url("./Roboto-Light.ttf");
}


.container{
    background-color:white;
}

.title-text {
    font-family: Roboto-Thin;
    color: dodgerblue;
    text-align: center;
    display: inline;
}

.quantity-change-button {
    color: gray;
    background-color: white;
    border: 0px;
    padding: 0px;
    height: 5vh;
    width: 5vh;
    margin: 1vh;
    border: 1px darkslategray solid;
    border-radius:100%;
    line-height:100%;
}   

.output-area{
    background-color:white;
    color:black;
    font-family:Roboto-Light;
}

.submit-button {
    color: gray;
    background-color: white;
    border: 0px;
    padding: 0px;
    height: 5vh;
    margin: 1vh;
    border: 1px darkslategray solid;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size:100%;
    overflow:hidden;
}

.dataset-input {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    border: 1px gray solid;
    margin-bottom: 10px;
    font-size: 3vh;
}

.error-input {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    border: 1px red solid;
    margin-bottom: 10px;
    font-size: 3vh;
}
.control-panel{
    text-align:center;
    display:inline;
}

.output-header p{
    border-bottom:0.5px gray solid;
    padding:0px;
}

.answer-header {
    display: inline;
}
.answer-value{
    display:inline;
    color:dodgerblue;
}

svg{
    width:100%;
    height:300px;
    border:1px black solid;
}